.post-tabs,
.sinNada,
.widget {
    padding: 0
}

.container-footer {
    position: fixed;
    bottom: 0;
    width: 100%
}

.cont-modalLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    bottom: 80px;    
    background: 0 100%/auto 210% #9464ca !important;
    background-image: linear-gradient(90deg, #9464ca 11%, #e79ae8 100%) !important
}
.cont-showLogin{
    padding: 15px 15px;
}
.cont-hiddenLogin {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}

.cont-hiddenLogin h3 {
    text-align: left;
    font-size: 1rem;
    color: #fff
}

.cont-modalLogin .content {
    display: flex
}

.cont-modalLogin .cont-showLogin {
    display: flex;
    flex-direction: column;
}

.cont-modalLogin .content h3 {
    font-weight: 700;
    color: #fff !important;
    text-align: center;
    line-height: 1.7rem !important;
    margin-bottom: 5px !important;
    font-size: 1.3rem !important
}

.cont-hiddenLogin i,
.cont-modalLogin .content i {
    padding-top: 3px;
    padding-left: 14px;
    color: #fff !important
}

.cont-modalLogin a {
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 16px;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: auto;
    margin-top: 6px
}

.scroll-down {
    height: 30px;
    background-color: red !important
}

.cont-btn-sticky a,
.cont-edit-detalle,
.precio-tag {
    font-weight: 700
}

.cont-btn-sticky {
    -webkit-box-shadow: 0 0 29px -9px rgba(0, 0, 0, .27);
    -moz-box-shadow: 0 0 29px -9px rgba(0, 0, 0, .27);
    box-shadow: 0 0 29px -9px rgba(0, 0, 0, .27)
}

.cont-btn-sticky .cont-total {
    border-radius: none !important;
    padding: 0 9px !important;
    margin-bottom: 13px;
    background-color: transparent !important
}

p {
    color: #2b1f52ad !important
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 99999
}

#loader,
.icon-button {
    justify-content: center
}

#loader {
    align-items: center;
    height: 80px
}

.loader {
    margin: auto;
    border: 5px solid #eaf0f6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: 4s linear infinite spinner
}

@keyframes spinner {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.limitar-texto {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden
}

.sinNada {
    margin: 0
}

.categ-div {
    width: auto !important
}

.cont-categorias {
    padding: 15px
}

.icon-button {
    padding: 0 15px;
    border: 0;
    margin-left: 4px;
    border-radius: 50%;
    background: 0 0/auto 200% #fff;
    display: inline-flex;
    align-items: center;
    height: 37px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.icon-modo {
    max-width: 123px;
    margin-right: 6px;
    border-radius: 12px;
    width: auto;
    margin: 0
}

.icon-modo span {
    color: #2b1f52;
    font-size: 15px
}

.icon-modo i {
    width: 16px;
    margin-right: 6px
}

.post-carousel-twoCol,
.post-carousel-twoCol img {
    height: 190px !important
}

.cont-slider {
    border-radius: 15px
}

.post-carousel-twoCol {
    margin-top: 5px
}

.btn-agregar-pedido,
.btn-sin-pedido,
.cont-producto .btn-agregar-pedido {
    height: 50px;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    width: 100%
}

.post.post-over-content .post-title {
    margin-bottom: 5px;
    margin-top: 10px
}

.post.post-over-content .thumb:after {
    content: "";
    background: #2e1610;
    display: block;
    height: 100%;
    left: 0;
    opacity: .5;
    top: 0;
    position: absolute;
    width: 100%
}

.cont-btn-sticky {
    margin: 0;
    width: 100%;
    padding: 15px 10px;
    bottom: 0;
    background-color: #fff
}

.btn-agregar-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    color: #fff !important;
    background-size: 200% auto;
    background-position: 0 100%;
    border: 1px solid #ebebeb;
    border-radius: 30px
}

.btn-agregar-pedido:active {
    background-position: 0 900%
}

.btn-info-ped {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important
}

.btn-info-ped i div,
.btn-sin-pedido {
    justify-content: center;
    display: flex
}

.btn-info-ped span {
    line-height: 0
}

.btn-info-ped i div {
    display: none;
    align-items: center;
    min-width: 15px !important;
    min-height: 15px !important;
    max-width: 15px !important;
    max-height: 15px !important;
    width: 15px !important;
    height: 15px !important;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 7px;
    background-color: #9b9b9b;
    position: absolute;
    top: 23px;
    margin-left: 7px
}

.btn-sin-pedido {
    align-items: center;
    color: #414141 !important;
    background: 0 0/200% auto #fff;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 29px -9px rgba(0, 0, 0, .27);
    -moz-box-shadow: 0 0 29px -9px rgba(0, 0, 0, .27);
    box-shadow: 0 0 29px -9px rgba(0, 0, 0, .27)
}

.cont-producto .btn-agregar-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    color: #fff !important;
    background: #7b52fe;
    background: -webkit-linear-gradient(left, #7b52fe 0, #d186fe 51%, #7b52fe 100%);
    background: linear-gradient(to right, #7b52fe 0, #d186fe 51%, #7b52fe 100%);
    background-size: 200% auto;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    font-weight: 700
}

.featured-image,
.featured-image img,
.tab-pane a {
    width: 100%
}

.header-default {
    padding: 12px 0;
    position: relative;
    width: 100%;
    z-index: 999999;
    background-color: #fff
}

.contImg-producto {
    max-width: 77px
}

.contImg-producto img,
.inner img {
    border-radius: 10px
}

.contPrecio-producto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.btn-delete,
.con-qr-detalle {
    display: flex;
    justify-content: center
}

.navbar-brand img {
    height: auto;
    width: 100%
}

.icon-check-carr {
    font-size: 18px;
    color: #00a650
}

.widget-title {
    font-size: 20px !important
}

.cont-all-list-prod,
.ul-cont-carrito {
    margin-top: 0 !important;
    padding: 0
}

.post-carousel-categorias .slick-list {
    padding: 2px 50px
}

.btn-delete {
    align-items: center;
    height: 45px;
    width: 100%;
    color: #da0000 !important;
    background: 0 0/200% auto #fff0ee;
    border-color: transparent;
    border-radius: 20px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.precio-tag,
.txt-destacados {
    font-family: Poppins, sans-serif
}

.btn-delete:active {
    background-color: #f7ddd9
}

.cont-li-prod {
    border: 1px solid #2b1f5244;
    margin-bottom: 15px;
    padding: 15px
}

.cont-li-prod .cont-productos {
    border: none !important;
    padding: 0 0 12px 0 !important
}

#cont-productos .cont-productos {
    margin-bottom: 4px !important
}

#cont-productos .cont-productos:active,
.btn-sin-pedido:active,
.icon-button:active,
.opcModo:active {
    background-color: #eaf0f6
}

.cont-userComensal .text-title-white {
    font-weight: 700
}

.text-title-white {
    padding-bottom: 12px
}

.btn-logout-comensal,
.cont-userComensal {
    padding-top: 12px
}

.cont-userComensal {
    font-size: 14px !important;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 18px;
    padding: 8px 17px;
    line-height: 18px;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    transition: .2s ease-in-out
}

.cont-userComensal i {
    padding-right: 8px
}

.cont-productos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 15px 12px
}

.cont-productos .cont-img-prod {
    border-radius: 10px;
    max-width: 56px;
    min-width: 56px;
    width: 56px;
    max-height: 56px;
    min-height: 56px;
    height: 56px
}

.cont-productos-det .cont-img-prod {
    border-radius: 10px;
    max-width: 70px;
    min-width: 70px;
    width: 70px;
    max-height: 70px;
    min-height: 70px;
    height: 70px
}

.cont-productos .cont-txt-prod {
    width: 65%;
    margin-left: 12px;
    margin-right: 0;
    height: auto
}

.cont-productos .cont-txt-prod h2 {
    line-height: 1.3rem !important;
    margin-bottom: 5px !important;
    font-size: 1.1rem !important
}

.comments li,
.cont-pop .cont-close h2,
.cont-productos .cont-txt-prod p,
.txt-destacados {
    line-height: 1.1rem !important
}

.cont-edit-detalle,
.cont-productos .cont-txt-prod p {
    color: #2b1f52 !important
}

.comments li.comment .details h4.name a,
.cont-txt-prod h2 a {
    line-height: 1.1rem !important;
    color: #2b1f52 !important;
    font-size: 1.1rem
}

.cont-txt-prod p a {
    color: #44323f !important;
    font-size: .9rem
}

.cont-precio-prod {
    margin-left: 7px
}

.cont-precio-prod h5 {
    margin: 1px 0 0;
    font-size: 1.1rem;
    background: #fcf6bc;
    padding: 3px 7px;
    border-radius: 9px
}

.cont-detalle-prod {
    padding-top: 10px;
    margin-bottom: 10px
}

.cont-total {
    border-radius: 9px !important;
    padding: 10px 12px;
    background-color: #fcf6bc !important
}

.cont-list-carrito {
    margin-bottom: 30px !important
}

.ul-cont-carrito li:after {
    content: none !important;
    display: block;
    height: 1px;
    margin-top: 30px;
    width: 100%;
    background: #850707;
    background: -webkit-linear-gradient(right, #ebebeb 0, transparent 100%);
    background: linear-gradient(to left, #ebebeb 0, transparent 100%)
}

.ul-cont-carrito .cont-productos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start
}

.ul-cont-carrito .cont-productos h2 {
    padding-bottom: 0
}

.ul-cont-carrito .contImg-producto img {
    width: 70%
}

.contPrecio-producto a,
.contPrecio-producto h4,
.contPrecio-producto h5 {
    font-size: 1.1rem;
    margin-top: 12px;
    margin-bottom: 0
}

.cont-detalle-cantidad {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0
}

#detalle-cantidad h4 {
    margin-top: 0 !important
}

.cont-detalle-cantidad h4 {
    margin-top: 0 !important
}

.cont-detalle-cantidad button {
    border: 0;
    width: 40px;
    height: 40px;
    background: #eaf0f6;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%)
}

.cont-detalle-cantidad input {
    font-size: 18px;
    font-weight: 700;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    width: 60px
}

.ul-cont-carrito li.comment .details {
    margin-left: 73px !important
}

.cont-btn-delete {
    padding-top: 4px
}

#detalle-pt {
    padding-top: 10px
}

.input-detalle {
    background-color: #fcf6bc;
    border: 1px solid #e7e1b4
}

.input-detalle::placeholder {
    color: #24232096
}

.cont-detalle-carr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    background-color: #fcf6bc;
    border-radius: 1px solid #fcf6bc;
    margin-bottom: 12px
}

.cont-detalle-carr p {
    margin-bottom: 0;
    color: #2b1f52
}

.cont-edit-detalle {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 80px;
    min-width: 80px;
    color: #2b1f52;
    margin-left: 18px
}

.cont-exito {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00a650
}

.cont-exito h2 {
    font-size: 18px;
    color: #fff
}

.cont-exito i {
    font-size: 30px;
    color: #fff
}

#cont-all-confirm {
    top: 0;
    margin-top: 0;
    z-index: 0
}

.btn-ig {
    color: #c13584 !important
}

#cont-confirmacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#cont-confirmacion img {
    width: 35% !important
}

#cont-confirmacion h2 {
    font-weight: 400;
    text-align: center;
    font-size: 16px
}

.con-qr-detalle {
    padding: 0 15px;
    align-items: center
}

.con-qr-detalle h2 {
    font-size: 16px
}

.con-qr-detalle a {
    color: #7b52fe
}

.img-qr {
    margin-right: 15px;
    min-height: 45px;
    min-width: 45px;
    background: url(../images/confirmado/qr.png) center/cover no-repeat
}

footer .footer-inner {
    border-top: 0;
    padding: 40px 0
}

.cont-destacados {
    width: 120px !important
}

.post-carousel-categorias .post-carousel {
    margin: 0 8px !important;
    padding: 0 !important
}

.post-carousel-destacados .post-carousel {
    margin: 0 12px !important;
    padding: 0 !important
}

.cont-destacados .inner {
    width: 123px;
    min-height: 123px;
    height: 123px
}

.cont-destacados img {
    width: 100%;
    height: 100%
}

.txt-destacados {
    color: #2b1f52 !important;
    font-size: 1.1rem;
    margin-bottom: 5px !important
}

.precio-tag {
    color: #000;
    font-size: 1.1rem;
    display: inline-block;
    padding: 3px 7px;
    border-radius: 9px;
    line-height: 1;
    left: 6px;
    top: 9px;
    z-index: 1;
    background: 0 0/200% auto #fcf6bc;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

#pop-comensal,
#popEdit-detalle {
    display: none
}

.cont-pop {
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .561);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999
}

.cont-pop .cont-edit-pop {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 15px
}

.cont-pop .cont-edit-pop button {
    margin-top: 20px
}

.cont-pop .cont-edit-pop textarea {
    display: inline-table;
    padding: 9px 15px 15px;
    background-color: #fcf6bc;
    border: 0;
    border-bottom: 1px solid #7e783e;
    height: auto
}

.cont-pop .cont-close {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.cont-pop .cont-close h2 {
    color: #2b1f52;
    font-size: 1.1rem
}

.cont-detalle-bolas {
    background-color: #fcf6bc;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.cont-detalle-bolas .bolas-nota {
    border: 1px solid #3d3d3d;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 100%
}

.opcModo {
    color: #2b1f52;
    border: 0;
    margin-left: 4px;
    border-radius: 50%;
    background: 0 0/auto 200% #fff;
    display: inline-flex;
    align-items: center;
    height: 42px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    padding: 0 15px;
    margin-bottom: 16px
}

.opcModo i {
    width: 16px;
    margin-right: 8px
}

#pop-comensal .cont-form-pop {
    margin-bottom: 8px
}

.cont-form-pop span {
    padding-left: 4px;
    padding-top: 4px
}

#msg-gral {
    padding: 0
}

.error-inp {
    border: 1px solid #c60000
}

.msg-gral {
    border-left: 2px solid #c60000;
    color: #c60000;
    padding: 9px 15px;
    background-color: rgba(255, 0, 0, .071)
}

.msg-adv {
    border-left: 2px solid #c67300;
    color: #c67300;
    padding: 9px 15px;
    background-color: rgba(255, 157, 0, .106)
}

.StatusContent {
    margin-bottom: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 26px 20px 26px
}

.StatusContent .hora {
    color: #fff !important;
    margin-top: 10px;
    margin-bottom: 0
}

.contStatusOrden {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.contStatusOrden i {
    font-size: 30px;
    padding-right: 14px;
    color: #fff
}

.contStatusOrden h2 {
    margin: 0;
    color: #fff;
    font-size: 20px !important
}

.back_vio {
    background: linear-gradient(-45deg, #df6df9, #7820bd);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite
}

.back_ama {
    background: linear-gradient(-45deg, #ffde8f, #e1ab5e);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite
}

.back_ver {
    background: linear-gradient(-45deg, #68e7c2, #59b1ae);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite
}

.back_esp {
    background: linear-gradient(-45deg, #9bd9d7, #28a7a3);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite
}

.back_red {
    background: linear-gradient(-45deg, #d99b9b, #a72828);
    background-size: 400% 400%
}

.back_ok {
    background: linear-gradient(-45deg, #57bd6f, #28a745);
    background-size: 400% 400%
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}